<header>
    <!-- https://mdbootstrap.com/docs/jquery/navigation/navbar/ -->
    <nav class="navbar navbar-expand-lg navbar-dark primary-color">
        <a class="navbar-brand" href="#">WebApps</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
            aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="basicExampleNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/about" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        About Us
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="https://github.com/jfolkerts">Justin Folkert</a>
                        </li>
                        <li><a class="dropdown-item" href="https://dakotagrvtt.com">Dakota Gravitt</a></li>
                        <li><a class="dropdown-item" href="https://github.com/s534141">Matthew Sheahan</a>
                        </li>
                        <li><a class="dropdown-item" href="https://github.com/Logan11999">Logan Smith</a></li>

                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/course">Courses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/instructor">Instructors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/student">Student</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/section">Sections</a>
                </li>
            </ul>
        </div>
    </nav>
</header>