<main class="container-fluid">
    <div class=row>
      <div class="col col-md-12">
        <br />
        <h1>Web App Developers - Fall 2019</h1>
        <br />
        <hr>
        <h3>During development, test api here.</h3>
        <br />
        <br />
        <br />
        <h4>Developer: Test GET JSON by URL</h4>
        <ol>
          <li> <a href="http://localhost:3002/dev/findall">http://localhost:3002/dev/findall</a>
          </li>
          <li> <a href="http://localhost:3002/dev/findone/99">http://localhost:3002/dev/findone/99</a>
          </li>
          <li> <a href="http://localhost:3002/dev/findone/100">http://localhost:3002/dev/findone/100</a>
          </li>
          <li> <a href="http://localhost:3002/dev/findone/92">http://localhost:3002/dev/findone/92</a>
          </li>
          <li> <a href="http://localhost:3002/dev/findone/93">http://localhost:3002/dev/findone/93</a>
          </li>
          <li> <a href="http://localhost:3002/newpage">http://localhost:3002/newpage</a>
          </li>
        </ol>
  
        <br>
  
        <h4>Developer: Test Requests to GET a view</h4>
  
        <ol>
          <li> <a href="http://localhost:3002/developer">http://localhost:3002/developer</a>
          </li>
          <li> <a href="http://localhost:3002/dev/create">http://localhost:3002/dev/create</a>
          </li>
          <li> <a href="http://localhost:3002/dev/edit/99">http://localhost:3002/dev/edit/99</a>
          </li>
          <li> <a href="http://localhost:3002/dev/delete/99">http://localhost:3002/dev/delete/99</a>
          </li>
          <li> <a href="http://localhost:3002/dev/details/100">http://localhost:3002/dev/details/100</a>
          </li>
        </ol>
  
  
      </div>
      <div>
        <h4>Student: Test GET JSON by URL</h4>
        <ol>
          <li> <a href="http://localhost:3002/student/findall">http://localhost:3002/student/findall</a>
          </li>
          <li> <a href="http://localhost:3002/student/findone/1111">http://localhost:3002/student/findone/1111</a>
          </li>
          <li> <a href="http://localhost:3002/student/findone/1112">http://localhost:3002/student/findone/1112</a>
          </li>
          <li> <a href="http://localhost:3002/student/findone/1113">http://localhost:3002/student/findone/1113</a>
          </li>
          <li> <a href="http://localhost:3002/student/findone/1114">http://localhost:3002/student/findone/1114</a>
          </li>
          <li> <a href="http://localhost:3002/student/findone/1115">http://localhost:3002/student/findone/1115</a>
          </li>
          <li> <a href="http://localhost:3002/student/findone/1116">http://localhost:3002/student/findone/1116</a>
          </li>
          <li> <a href="http://localhost:3002">http://localhost:3002/newpage</a>
          </li>
        </ol>
  
        <br>
  
        <h4>Student: Test Requests to GET a view</h4>
  
        <ol>
          <li> <a href="http://localhost:3002/student">http://localhost:3002/student</a>
          </li>
          <li> <a href="http://localhost:3002/student/create">http://localhost:3002/student/create</a>
          </li>
          <li> <a href="http://localhost:3002/student/edit/1111">http://localhost:3002/student/edit/1111</a>
          </li>
          <li> <a href="http://localhost:3002/student/delete/1111">http://localhost:3002/student/delete/1111</a>
          </li>
          <li> <a href="http://localhost:3002/student/details/1111">http://localhost:3002/student/details/1111</a>
          </li>
        </ol>
      </div>
    </div>
  </main>
  <hr>
  
  </div>
  </div>
  </div>